* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: rgb(36, 116, 253);
	color: white;
	height: 10vh;

	padding: 10px 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	ul {
		list-style: none;
		display: flex;
		align-items: center;
		gap: 25px;

		a {
			text-decoration: none;
			color: inherit;
		}
	}
}

main,
footer {
}

main {
	height: 80vh;
}

footer {
	height: 10vh;
}
