.card {
	background-color: white;
	width: 100%;
	padding: 10px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	gap: 4px;

	width: 300px;
}

.name {
	background-color: var(--black);
	color: var(--highlight);
	text-align: center;
	padding: 4px;
}

.budget {
	font-weight: 600;
	color: #333;
}

.infra {
	color: red;
}

.category_text {
	display: flex;
	align-items: center;
	gap: 8px;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.dot.infra {
	background-color: green;
}

.dot.planejamento {
	background-color: yellow;
}

.dot.desenvolvimento {
	background-color: purple;
}

.dot.design {
	background-color: pink;
}

.containerbuttons {
	display: flex;
	gap: 8px;
}

.button {
	background-color: whitesmoke;
	font-size: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 4px 16px;
	transition: all 0.15s ease;

	&:hover {
		background-color: var(--highlight);
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
	}
}
