@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--inter: "Inter", Arial, Helvetica, sans-serif;
}

* {
	font-family: var(--inter);
	font-size: 0.95rem;
}

.counter {
	width: 64px;
	padding: 8px;
	cursor: pointer;
	border-radius: 5px;

	&:disabled {
		background-color: red;
		cursor: not-allowed;
		opacity: 0.7;
		color: white;
	}
}

H1 {
	background-color: rgb(213, 213, 213);
	padding: 4px;
}
