.home {
	padding: 80px 10px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 16px;

	h1 {
		span {
			padding: 4px 8px;
			background-color: #333;
			color: rgb(255, 217, 0);
		}
	}

	img {
		width: 600px;
		margin-top: 20px;
	}
}
