.loading {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 5px solid var(--black);
	border-color: var(--black) rgba(0, 0, 0, 0.307) rgba(0, 0, 0, 0.307) rgba(0, 0, 0, 0.307);
	animation: loader 1s ease infinite;
	margin: 0 auto;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
