* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html,
body {
	background-color: #efefef;
}

:root {
  --highlight: rgb(255, 208, 0);
}

body {
	width: 100%;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	main {
		flex-grow: 1;
		display: flex;

		& > * {
			flex-grow: 1;
		}
	}
}
