.start {
	justify-content: flex-start;
  align-items: center;
	flex-grow: 1;
	padding: 50px 30px;
	gap: 30px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.container_projects {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 30px;
}
