main {
	height: 85vh;
	gap: 8px;
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: center;
}

.myButton {
	padding: 10px 20px;
	font-size: 0.9rem;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	transition: all 0.15s ease;
	cursor: pointer;

	&:hover {
		background-color: var(--highlight);
		color: white;
		transform: translateY(-3px);
	}
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
}

.illustration {
	width: 450px;
}
