.button {
	background-color: chartreuse;
	height: 40px;
	padding: 0px 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: #444;
	cursor: pointer;
	border: none;
	transition: all 0.15s ease;
	border: 2px solid transparent;

	&:hover {
		border: 2px solid chartreuse;
		transform: translateY(-1px);
		background-color: #444;
		color: chartreuse;
    
	}

	&:active {
		transform: translateY(2px) scale(0.99);
	}
}
