input[type="submit"] {
	background-color: var(--highlight);
	border: 1px solid rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 1.02rem;
	transition: all 0.15s ease-in-out;
	cursor: pointer;

	&:hover {
		box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: none;
		transform: translateY(2px);
	}
}
